body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

#fichaPersonTitulo {
  text-align: center;
}

header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

  #dndlogo {
    width: 15rem;
  }

  #dndlogo img {
    width: 100%;
  }
  
  .ficha {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgb(255, 254, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .ficha h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #atributosAplicados {
    display: grid;
  }

  .atributo-input {
    width: 6ch;
  }

  .selecao-classe label {
    display: block;
    margin-bottom: 10px;
  }
  
  .selecao-classe select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
  }
  
  .dados-classe ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dados-classe li {
    margin-bottom: 10px;
  }
  
  .dados-classe li strong {
    font-weight: bold;
  }
  
  .pontos-vida strong {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-atributos {
    display: none;
  }

  #resultado-rolagem {
    display: flex;
    gap: 1.1rem;
    margin: 1.1rem 0 1.1rem 0;
  }
  
  #resultado-rolagem div {
    width: 30px;
    text-align: center;
  }

  .draggable {
    cursor: move;
    user-select: none;
    -webkit-user-select: none;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}